.header-name{
  font-family: 'Times New Roman', Times, serif;
  font-size:22px !important;
  color:#0056B3 !important;
}
.header-text-color{
  color:#0056B3 !important;
  font-weight: 500;
}
.header-text-size{
  font-weight: 500;
}
.header-color:hover{
  color:#0056B3 !important;
}
.img-fluid-header{
  width:140px;
  height: 39px;
}
.header-bg-color{
  background-color: white;
}
.text-font{
  font-family:Arial, Helvetica, sans-serif;
}
.name-text{
  font-size: 58px;
}
.bth-color{
  border: none;
  padding:10px 28px;
  color:white;
  background-color:#0056B3;
  font-weight: 400;
  border-radius:8px;
}
.bth-color-hire{
  border: 1px solid #0056B3;
  background-color:white;
  color:#0056B3;
  font-weight: 400;
  border-radius:8px;
  padding:10px 28px;
}
.bth-color-hire:hover{
  border: none;
  background-color:#0056B3;
  color:white;
}
.bth-color:hover{
  border: 1px solid #0056B3;
  background-color:white;
  color:#0056B3;
}
.color{
  color:#024a97 ;
}
.fb-color-chang{
  color:#003772 ;
}
.link-color{
  color: #0A66C2
}
.link-color-chang{
  color: #00376d;
}
.git-color{
  color: black;
}
.medium-color{
  color: rgb(58, 58, 58)
}
.medium-color-change{
  color: rgb(31, 31, 31)
}
.text-name{
  font-family: 'Dancing Script', cursive;
}
.personal-details{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius:15px;
  padding: 20px 20px;
  
}
.div-class{
  background-color: rgb(248, 248, 248);
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.personal-header{
  font-family:Georgia, 'Times New Roman', Times, serif
}
.change-text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.point-color{
  color:goldenrod;
}
.project-details{
  display:flex;
  flex-wrap: wrap;
}
.div-class-button{
  border: none;
  background-color:#0056B3;
  color:white;
  padding: 5px 9px;
  border-radius:5px;
}
.div-class-button:hover{
  border: 1px solid #0056B3;
  background-color:white;
  color:#0056B3
}
.img-round{
  border-radius: 5px;
}
.text-sizing{
  font-family: Arial, Helvetica, sans-serif;
}
.color-container{
  background-color:#f6f7f6;
}
.span-text{
  font-size:18px;
}
.contact-container{
  background: linear-gradient(to bottom right, #5153B4 0%, #C498A1 100%)
}
.text-con-color{
  color: rgb(255, 255, 255);
}
.style-text{
  font-family:Arial, Helvetica, sans-serif;
  font-size:48px;
}
.font-family{
  font-family:'Times New Roman', Times, serif
}
.my-blog{
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}
.send-massage-btn{
  padding:8px 15px;
  background-color:white;
  border: 1px solid black;
  border-radius:8px;
  color:black;
}
.send-massage-btn:hover{
  border: none;
  background-color:#0056B3;
  color: white;
}